h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
}

h3 {
    color: white;
    justify-content: center;
}

.contact {
    display: flex;
    background-color: grey;
    color: white;
    flex-direction: column;
    justify-content: center;
}

button{
    color: white;
    background-color: black;
}
